@import 'tailwindcss';

@theme {
    --default-font-family: 'Grtsk Giga', sans-serif;
    --color-light-grey: #bebebe;
    --color-dark-grey: #373737;
    --color-yellow: #ffcb46;
    --breakpoint-extra-sm: 23.43rem;
    --breakpoint-2xl: 90rem;
    --animate-rotate-text: rotate-text 5s linear infinite;

    @keyframes rotate-text {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
}

html,
body,
#__nuxt {
    width: 100%;
    height: 100dvh;
}

body {
    background-color: var(--color-light-grey);
}

.slide-enter-active {
    transition:
        transform 0.5s linear,
        opacity 0.5s linear,
        background-color 0.7s ease-in;
}
.slide-enter-from {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100%, 0) skew(15deg);
    background-color: var(--color-dark-grey);
}
.slide-enter-to {
    transform: translate(0%, 0) skew(0deg);
}
