@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: thin;
}

html,
body,
#__nuxt {
    width: 100%;
    height: 100dvh;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
